*
* Program:               ${app.program_name} [${app.program_id}]
* Manufacturer:          ${manufacturers[app.manufacturer_id].manufacturer_name}
* Original Manufacturer: ${manufacturers[app.original_manufacturer_id].manufacturer_name}
* Mask:                  ${masks[app.mask_id].mask_version_name}
*
* Addresstab Size: ${app.address_tab_size}
* Assocs:          ${"0x%04x" % int(app.assoctab_address)} / ${app.assoctab_size}
* ComObjs:         ${"0x%04x" % int(app.commstab_address)} / ${app.commstab_size}
*
*

OptionReg               fcb     ${aw.eebyte(0x100)}
ManData                 fcb     ${aw.eebyte(0x101)}, ${aw.eebyte(0x102)}
Manufact                fcb     ${aw.eebyte(0x103)}, ${aw.eebyte(0x104)}
DevTyp                  fcb     ${aw.eebyte(0x105)}, ${aw.eebyte(0x106)}
Version                 fcb     ${aw.eebyte(0x107)}
CheckLim                fcb     ${aw.eebyte(0x108)}
PEI_Type_expected       fcb     ${aw.eebyte(0x109)}
SyncRate                fcb     ${aw.eebyte(0x10a)}
PortCDDR                fcb     ${aw.eebyte(0x10b)}
PortADDR                fcb     ${aw.eebyte(0x10c)}
RunError                fcb     ${aw.eebyte(0x10d)}
RouteCnt                fcb     ${aw.eebyte(0x10e)}
MxRstCnt                fcb     ${aw.eebyte(0x10f)}
ConfigDes               fcb     ${aw.eebyte(0x110)}
AssocTabPtr             fcb     ${aw.eebyte(0x111)}
CommsTabPtr             fcb     ${aw.eebyte(0x112)}
UsrInitPtr              fcb     ${aw.eebyte(0x113)}
UsrPrgPtr               fcb     ${aw.eebyte(0x114)}
UsrSavPtr               fcb     ${aw.eebyte(0x115)}

PhysAddr                fcb     ${aw.eebyte(0x116)}, ${aw.eebyte(0x117)}, ${aw.eebyte(0x118)}

*
* EOF
*
